.challenge-section-container {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.challenge-section-header {
    text-align: center;
    color: #fbf6fb;
    font-family: "Bangers",cursive;
    font-size: 55px;
    letter-spacing: 4px;
}